*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
.heading{
    text-align: center;
    margin: 10px;
}
.calculator-body{
    border: 5px solid black;
    box-shadow: 1vw 2vh 5px rgba(0, 0, 0, 0.47), 0 5px black;
    background-color: #2e2e30e1;
    width: 40vw;
    min-width: 400px;
    height: 80vh;
    margin: auto;
    margin-top: 4vh;
    border-radius: 10px;
}
#calculator-screen{
    font-size: 5vw;
    padding: 1vh 0.5vw;
    text-align: justify;
    background-color: #A2AF77;
    margin: auto;
    width: 36vw;
    min-width: 360px;
    height: 14vh;
    margin-top: 3vh;
    overflow: hidden;
    }
.calculator-key-body{
    margin: auto;
    width: 36vw;
    min-width: 360px;
    height: 56vh;
    min-height: 230px;
    margin-top: 3vh;
}
.keys{
    background-color: #58595B;
    display:inline-block;
    cursor: pointer;
    height: 10vh;
    width: 6.5vw;
    min-width: 65px;
    margin-top: 0.8vh; 
    margin-left: 0.3vw;
    padding:3vh 0;
    border-radius: 6px;
    box-shadow: 0 0.2vw grey;
}

.special:hover{
    background-color: white;
}
.keys:hover{
    background-color: #58595b97;
}
.keys:active{
    background-color: #58595b77;
    box-shadow: 0 0.2vw rgba(128, 128, 128, 0.63);
    transform:translateY(2px);
}
div{
    border: 2px solid transparent;
    font-size: 5vw;
    text-align: center;
    font-weight:bold;
}
@media screen and (min-width:450px) {
    div{
        font-size: 16px;
    }
}
@media screen and (min-width:1450px) {
    div{
        font-size: 25px;
    }
}
@media screen and (min-width:1700px) {
    div{
        font-size: 30px;
    }
}
